.customer_container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 30px 0px 100px 0px;
}

.cust_name {
	display: flex;
	align-items: center;
	font-weight: 600;
}

.cust_name p {
	margin: 0px 20px;
}
